<!DOCTYPE html>
<html>
<head>
	<title>Chat | App</title>
	<link rel="stylesheet" type="text/css" href="/css/login.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>

<body>
	

<div class="main">


			 
				<h1> <i class="fas fa-comments"></i>Chat Room</h1>		
					  	<hr>
			  	<p>Connect Yourself</p>

			  	<h2>Sign In</h2>
			  	<form action="/users/login" method ="post">
				  	<input type="text" name="email" placeholder="Email...." class="input1" ></h2>
				  	<input type="password" name="password" placeholder="Password...." class="input1" >
				  	<br>
			  	    <button>Sign In</button>
		  	    </form>
		  	    
		  	    <h5>________________or__________________</h5>

		  	    <h3> <a href="/signup"><button class="anchor">Create Account</button ></a></h3>
		  	    
		     

		  
            
            
			
		
	
</div>




</body>
</html>